<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rails + Vue + Router configs</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <% if action_name == "chat" %>
      <application></application>
    <% else %>
      <%= yield %>
    <% end %>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-router"></script>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
